.topblog_container {
	display:block;
	width:100%;
	text-align:justify;
}
.topblog_item {
	display:inline;
	margin-right:15px;
	border-bottom:1px dashed #c9c9c9;
}
.topblog_item.header {
	margin-right:10px;
	border-bottom:none;
}
.topblog_item.header strong{
	color:black;
}
.topblog_item a {
	color:#6e6e6e;
}
.topblog_item.item_rating_1 {
	font-size:100%;
}
.topblog_item.item_rating_2 {
	font-size:130%;
}
.topblog_item.item_rating_3 {
	font-size:140%;
}
.topblog_item.item_rating_4 {
	font-size:150%;
}
.topblog_item.item_rating_5 {
	font-size:160%;
}
